<div class="modal-header text-center">
    <resize-modal close="close()"></resize-modal>
    <h1><i class="glyphicon glyphicon-hdd"></i> Data Sources</h1>
</div>

<div class="modal-body">
    <db-connection-list controller="api"></db-connection-list>
</div>

<div class="modal-footer">
    <button ng-click="close()" class="btn btn-primary"><i class="glyphicon glyphicon-remove"></i> Close</button>
    <button ng-click="api.save()" ng-show="api.dirty()" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> Save Changes</button>
</div>