<li roles="114">
    <a href="" ng-click="modal('web-common/modules/app/data-source/db-connections-dialog.html')" role="menuitem">
        <i class="glyphicon glyphicon-hdd"></i> Data Sources
    </a>
</li>
