<div class="modal-header text-center">
  <resize-modal state="maximized" close="close()"></resize-modal>
  <h1><i class="glyphicon glyphicon-stats"></i> Reports</h1>
</div>

<div class="modal-body">
  <report-list report="report"
               category="{{category}}"
               app="{{appId}}"
               request-formatter="requestFormatter(reports)"
               param-formatter="paramFormatter(param)">
  </report-list>
</div>

<div class="modal-footer">
  <button ng-click="close()" class="btn btn-primary"><i class="glyphicon glyphicon-remove"></i> Close</button>
</div>
