<li roles="72">
    <a href="" ng-click="modal('web-common/modules/app/reporting/reports-dialog.html', 'ReportsDialogCtrl')" role="menuitem">
        <i class="glyphicon glyphicon-stats"></i> Reports
    </a>
</li>
