<div class="modal-header text-center">
    <resize-modal close="close()"></resize-modal>
    <!--<button type="button" class="close" ng-click="close()" aria-hidden="true">x</button>-->
    <h1><i class="glyphicon glyphicon-inbox"></i> Application Log</h1>
</div>

<div class="modal-body">
    <div ng-include="'web-common/modules/app/log/log.html'"></div>
</div>

<div class="modal-footer">
    <button ng-click="close()" class="btn btn-primary"><i class="glyphicon glyphicon-remove"></i> Close</button>
</div>
