<div class="modal-header text-center">
  <resize-modal close="close()"></resize-modal>
  <h1><i class="glyphicon glyphicon-duplicate"></i> {{appConfig.appName}} Profiles</h1>
</div>

<div class="modal-body">
  <app-profile-list add-roles="{{addRoles}}" delete-roles="{{deleteRoles}}"></app-profile-list>
</div>

<div class="modal-footer">
  <button ng-click="close()" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i> Close</button>
</div>
