<div>
  <div ng-if="!ctrl.profiles.$resolved" class="loading-inline-spinner loading-left loading">
    <div>
      <h2>Loading
        <small>Please Wait...</small>
      </h2>
    </div>
  </div>

  <search-box search="search" class="pull-left" ng-hide="ctrl.showNew"></search-box>

  <span ng-hide="ctrl.showNew" class="pull-right" roles="{{ctrl.addRoles}}">
      <a href="" ng-click="ctrl.showNew=true"><i class="glyphicon glyphicon-plus-sign"></i> Add New</a>
  </span>

  <form class="form-horizontal" ng-show="ctrl.showNew" name="form">
    <div class="form-group">
      <label for="inpId" class="col-sm-2 control-label">Profile ID</label>

      <div class="col-sm-10">
        <input ng-model="ctrl.new.id"
               type="text"
               class="form-control"
               id="inpId"
               placeholder="Example: pavement"
               ng-change="ctrl.validateProfile(ctrl.new)"
               required>
      </div>
    </div>
    <div class="form-group">
      <label for="inpTitle" class="col-sm-2 control-label">Name</label>

      <div class="col-sm-10">
        <input ng-model="ctrl.new.name"
               type="text"
               class="form-control"
               id="inpTitle"
               placeholder="Example: Pavement Group SLD">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" ng-click="ctrl.cancelNew()">
          <i class="glyphicon glyphicon-remove"></i> Cancel
        </button>
        <button ng-disabled="form.$invalid || ctrl.working" type="submit" class="btn btn-primary"
                ng-click="ctrl.add(ctrl.new);">
          <i class="glyphicon glyphicon-ok"></i> Save
        </button>
      </div>
    </div>
  </form>

  <table class="table table-condensed table-hover table-striped" ng-if="ctrl.profiles.length">
    <thead>
    <th ng-show="canDelete"></th>
    <th>ID</th>
    <th>Name</th>
    <th></th>
    </thead>
    <tbody>
    <tr ng-repeat="profile in ctrl.profiles | filter:search" ng-class="{selected:profile.id==ctrl.profile.id}">
      <td roles="{{ctrl.deleteRoles}}" roles-pass="canDelete">
        <a href=""
           tooltip-placement="right"
           tooltip="Delete Profile"
           ng-if="ctrl.profiles.length>1"
           mwl-confirm
           data-title="Delete Confirmation"
           message="Are you sure you want to permanently delete this profile?"
           confirm-text="Yes"
           cancel-text="No"
           placement="right"
           on-confirm="ctrl.remove(profile)"
           on-cancel="false"
           confirm-button-type="danger"
           cancel-button-type="default"
           is-open="false">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </td>
      <td>{{profile.id}}</td>
      <td>{{profile.name}}</td>
      <td>
        <a href="" ng-click="ctrl.goTo(profile)" ng-hide="profile.id==ctrl.profile.id">
          <i class="glyphicon glyphicon-share-alt"></i> View
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
