<li roles="30|31|32|33|34|35" class="dropdown" dropdown>
    <a href class="dropdown-toggle" dropdown-toggle>
        <i class="glyphicon glyphicon-info-sign"></i> Help <b class="caret"></b>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li roles="33" ng-if="config.usersGuide">
            <a href="" ng-href="{{app.usersGuide || app.profile.usersGuide}}" target="_blank" role="menuitem">
                <i class="glyphicon glyphicon-file"></i> Users Guide
            </a>
        </li>
        <li roles="31" ng-if="config.reportError">
            <a href="" ng-click="modal('web-common/modules/app/error/error-report-dialog.html', 'ErrorReportCtrl')" role="menuitem">
                <i class="glyphicon glyphicon-warning-sign"></i> Report an Error
            </a>
        </li>
        <li roles="30" ng-if="config.appLog">
            <a href="" ng-click="modal('web-common/modules/app/log/log-dialog.html')" role="menuitem">
                <i class="glyphicon glyphicon-inbox"></i> Application Log
            </a>
        </li>
        <li roles="34" ng-if="config.serviceApi">
            <a href="" ng-href="{{app.serviceApi || app.profile.serviceApi}}" target="_blank" role="menuitem">
                <i class="glyphicon glyphicon-globe"></i> Services API Reference
            </a>
        </li>
        <li roles="35" ng-if="config.codeApi">
            <a href="" ng-href="{{app.codeDocumentation || app.profile.codeDocumentation}}" target="_blank" role="menuitem">
                <i class="glyphicon glyphicon-book"></i> Code API Reference
            </a>
        </li>
        <li roles="32" ng-if="config.about">
            <a href="" ng-click="modal('web-common/modules/app/about/about-dialog.html')" role="menuitem">
                <i class="glyphicon glyphicon-question-sign"></i> About
            </a>
        </li>
    </ul>
</li>
