<div class="btn-group title-bar-buttons pull-right">
  <a href="" ng-click="toggleState()">
    <i ng-class="{'glyphicon glyphicon-fullscreen': !isMaximized, 'glyphicon glyphicon-resize-small': isMaximized}"></i>
  </a>
  <a href="" ng-if="canClose" ng-click="close()">
    <i class="glyphicon glyphicon-remove"></i>
  </a>
</div>
