<div class="modal-header text-center">
  <resize-modal close="close()"></resize-modal>
  <h1><i class="glyphicon glyphicon-lock"></i> Access Control Manager</h1>
</div>

<div class="modal-body">

  <tabset>
    <tab select="apis.active=apis.securityApi"
         active="active0"
         ng-if="roles.viewSecurity"
         data-disabled="disable.security">
      <tab-heading>
        <i class="glyphicon glyphicon-lock"></i> Security
      </tab-heading>
      <security-profile-manager ng-if="active0" controller="apis.securityApi" editable="{{roles.editSecurity}}">
      </security-profile-manager>
    </tab>

    <tab select="apis.active=apis.rolesApi"
         active="active3"
         ng-if="roles.editRoles"
         data-disabled="disable.roles">
      <tab-heading>
        <i class="glyphicon glyphicon-certificate"></i> Roles
      </tab-heading>
      <role-manager ng-if="active3" controller="apis.rolesApi"></role-manager>
    </tab>

    <tab select="apis.active=apis.rolePrivilegesApi"
         active="active2"
         ng-if="roles.editRolePrivs"
         data-disabled="disable.rolePrivs">
      <tab-heading>
        <i class="glyphicon glyphicon-th-list"></i> Role Privileges
      </tab-heading>
      <role-privileges-manager ng-if="active2" controller="apis.rolePrivilegesApi"></role-privileges-manager>
    </tab>

    <tab select="apis.active=apis.userRolesApi"
         active="active1"
         ng-if="roles.editUserRoles"
         data-disabled="disable.userRoles">
      <tab-heading>
        <i class="glyphicon glyphicon-user"></i> User Roles
      </tab-heading>
      <user-roles-manager ng-if="active1" controller="apis.userRolesApi"></user-roles-manager>
    </tab>

    <tab select="apis.active=apis.dataLayerPrivilegesApi"
         active="active4"
         ng-if="roles.editMapLayerPrivs"
         data-disabled="disable.mapLayerPrivs">
      <tab-heading>
        <i class="glyphicon glyphicon-tasks"></i> Map Layer Privileges
      </tab-heading>
      <layer-privileges-manager ng-if="active4" controller="apis.dataLayerPrivilegesApi"></layer-privileges-manager>
    </tab>
  </tabset>
</div>

<div class="modal-footer">
  <button ng-click="close()" class="btn btn-default">
    <i class="glyphicon glyphicon-remove"></i> {{apis.active.dirty ? 'Cancel' : 'Close'}}
  </button>
  <button ng-click="apis.active.save()"
          ng-disabled="!apis.active.dirty"
          ng-hide="apis.active == apis.rolesApi || apis.active == apis.dataLayerPrivilegesApi"
          class="btn btn-primary">
    <i class="glyphicon glyphicon-floppy-disk"></i> Save Changes
  </button>
</div>
