<li roles="130|18|71|68|120">
    <a href="" ng-click="modal('web-common/modules/app/security/access-control-mgr-dialog.html', 'AccessControlMgrDialogCtrl')" role="menuitem">
        <i class="glyphicon glyphicon-cog"></i> Access Control Manager
    </a>
</li>
