<div controller="SignInRequiredMsgCtrl">
  <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert" destroy-parent>&times;</button>
    <strong>Uh Oh, </strong> looks like you may not have permission to access this content. Please try logging in
    with credentials that have access to this content. Contact an
    <a ng-if="app.profile.errorReportEmail" href="mailto:{{app.profile.errorReportEmail}}">administrator</a>
    <span ng-if="!app.profile.errorReportEmail">administrator</span> if the problem continues to occur.
  </div>

    <span class="pull-right" ng-show="!registering" roles="123">
      Don't have an account? <a href="" ng-click="registering=true">Register here.</a>
    </span>

  <a href="" ng-click="registering=false" ng-show="registering">
    <i class="glyphicon glyphicon-remove"></i> Cancel Registration
  </a>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <inline-user-sign-in ng-if="!registering"
                           on-success="reload()"
                           form-class="inline-sign-in-dark form-horizontal">
      </inline-user-sign-in>

      <user-registration ng-if="registering" on-register="reload()"></user-registration>
    </div>
  </div>
</div>
