<div class="modal-header text-center">
    <resize-modal close="close()"></resize-modal>
    <h1><i class="glyphicon glyphicon-user"></i> Register</h1>
</div>

<div class="modal-body">
    <user-registration on-close="close()" on-register="close()">
    </user-registration>
</div>

<div class="modal-footer">
    <button ng-click="close()" class="btn btn-primary"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
</div>