<div class="modal-header text-center">
    <resize-modal close="cancel()"></resize-modal>
    <!--<button type="button" class="close" ng-click="cancel()" aria-hidden="true">x</button>-->
    <h1><i class="glyphicon glyphicon-info-sign"></i> Account Information</h1>
</div>

<div class="modal-body">
    <tabset>
        <tab ng-repeat="tab in tabs" active="tab.active" disabled="tab.disabled" ng-hide="tab.hide">
          <tab-heading>
            <i class="glyphicon" ng-class="tab.icon"></i> {{tab.title}}
          </tab-heading>
            <!-- We have this wrapper so that we can keep from rendering tabs that aren't shown -->
            <div ng-if="tab.active">
                <div ng-include="tab.view"></div>
            </div>
        </tab>
    </tabset>
</div>

<div class="modal-footer">
    <button ng-click="cancel()" class="btn btn-primary"><i class="glyphicon glyphicon-remove"></i> Close</button>
</div>
