<form class="form-horizontal" name="form" ng-controller="ChangePasswordCtrl">
    <div class="form-group">
        <label class="col-sm-3 control-label" for="oldPass">Old Password</label>
        <div class="col-sm-8">
            <input ng-model="model.oldPassword" class="form-control" type="password" id="oldPass" placeholder="Old Password" autocomplete="off" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="newPass">New Password</label>
        <div class="col-sm-8">
            <input ng-model="model.newPassword" class="form-control" type="password" id="newPass" placeholder="New Password" autocomplete="off" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="confirmPass">Confirm Password</label>
        <div class="col-sm-8">
            <input ng-model="model.confirmPassword" class="form-control" type="password" id="confirmPass" placeholder="Confirm Password" autocomplete="off" required>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3">
            <button class="btn btn-primary" ng-click="changePassword(model)" ng-disabled="form.$invalid || working">
                <i class="glyphicon glyphicon-ok"></i> Change Password
            </button>
        </div>
    </div>
</form>