<div class="modal-header text-center">
  <resize-modal close="cancel()"></resize-modal>
  <!--<button type="button" class="close" ng-click="cancel()" aria-hidden="true">x</button>-->
  <h1 ng-if="!isResetPassword"><i class="glyphicon glyphicon-lock"></i> Forgot Password </h1>

  <h1 ng-if="isResetPassword"><i class="glyphicon glyphicon-lock"></i> Reset Password </h1>
</div>

<div class="modal-body">
  <form class="form-horizontal" name="form" ng-if="!isResetPassword">
    <div class="form-group">
      <label class="col-sm-3 control-label" for="userName">User Name or Email</label>

      <div class="col-sm-7">
        <input ng-model="forgotPasswordModel.userName"
               name="userName"
               class="form-control"
               type="text"
               id="userName"
               placeholder="Enter you user name or email address"
               required>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3">
        <button class="btn btn-primary"
                ng-click="sendResetToken(forgotPasswordModel)"
                ng-disabled="form.$invalid || working">
          <i class="glyphicon glyphicon-ok"></i> Submit
        </button>
      </div>
    </div>
  </form>
  <form class="form-horizontal" name="form" ng-if="isResetPassword">
    <div class="form-group">
      <label class="col-sm-3 control-label" for="newPass">New Password</label>

      <div class="col-sm-8">
        <input ng-model="resetPasswordModel.newPassword"
               class="form-control"
               type="password"
               id="newPass"
               placeholder="Enter new password" autocomplete="off" required>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="confirmPass">Confirm Password</label>

      <div class="col-sm-8">
        <input ng-model="resetPasswordModel.confirmPassword"
               class="form-control"
               type="password"
               id="confirmPass"
               placeholder="Retype new password" autocomplete="off" required>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3">
        <button class="btn btn-primary"
                ng-click="resetPassword(resetPasswordModel)"
                ng-disabled="form.$invalid || working">
          <i class="glyphicon glyphicon-ok"></i> Submit
        </button>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button ng-click="cancel()" class="btn btn-primary"><i class="glyphicon glyphicon-remove"></i> Close</button>
</div>
