<div ng-controller="RolesInfoCtrl">
  <div ng-if="!roles.$resolved">
    <h1 class="loading-inline-spinner loading-left loading">Loading Privileges
      <small>Please wait...</small>
    </h1>
  </div>

  <span class="label label-primary pull-right">{{hasRoleCount}} of {{roleCount}}</span>

  <form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <input type="text" ng-model="search.filter" class="form-control" placeholder="Search" autocomplete="off" />
        <a href="" ng-click="search.filter=''" class="input-group-addon">
          <i class="glyphicon glyphicon-remove"></i>
        </a>
      </div>
    </div>
  </form>

  <table class="table table-hover table-striped table-condensed">
    <thead>
    <tr>
      <th></th>
      <th>Privilege</th>
      <th>Description</th>
      <th class="text-center">ID</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="role in roles | filter:search.filter" ng-class="{success: role.hasUser, error: !role.hasUser}">
      <td ng-switch="role.hasUser">
        <i ng-switch-when="true" class="glyphicon glyphicon-ok"></i>
        <i ng-switch-default class="glyphicon glyphicon-lock"></i>
      </td>
      <td><strong>{{role.name | pretty}}</strong></td>
      <td>{{role.description}}</td>
      <td class="text-center">
        <span class="badge">{{role.id}}</span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
