<form class="form-horizontal" name="form" ng-controller="UserInfoCtrl">
  <div class="form-group">
    <label class="col-sm-3 control-label" for="userName">User Name</label>

    <div class="col-sm-8">
      <input ng-model="user.userName"
             class="form-control"
             type="text"
             id="userName"
             placeholder="User Name"
             ng-disabled="true"
             autocomplete="off" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="firstName">First Name</label>

    <div class="col-sm-8">
      <input ng-model="user.firstName"
             class="form-control"
             type="text"
             id="firstName"
             placeholder="First Name"
             ng-disabled="!editable"
             autocomplete="off"
             required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="lastName">Last Name</label>

    <div class="col-sm-8">
      <input ng-model="user.lastName"
             class="form-control"
             type="text"
             id="lastName"
             placeholder="Last Name"
             ng-disabled="!editable"
             autocomplete="off"
             required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="inputEmail">Email</label>

    <div class="col-sm-8">
      <input ng-model="user.email"
             class="form-control"
             type="text"
             id="inputEmail"
             placeholder="Email"
             ng-disabled="!editable"
             autocomplete="off"
             required>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3">
      <button type="submit"
              ng-click="update(user)"
              ng-disabled="form.$invalid || isUnchanged(user) || !editable"
              class="btn btn-primary">
        <i class="glyphicon glyphicon-ok"></i> Update Info
      </button>
    </div>
  </div>
</form>
