<div class="modal-header text-center">
    <resize-modal close="close()"></resize-modal>
    <h1><i class="glyphicon glyphicon-question-sign"></i> About</h1>
</div>

<div class="modal-body">
    <div ng-include="'web-common/modules/app/about/about.html'"></div>
</div>

<div class="modal-footer">
    <button ng-click="close()" class="btn btn-primary"><i class="glyphicon glyphicon-remove"></i> Close</button>
</div>
