<div class="well" ng-controller="AboutCtrl as ctrl">
  <p>
    <i class="icon-tags"></i> Version: <strong>{{ctrl.app.version}}</strong>
    <br/>
    <i class="icon-time"></i> Build Date: <strong>{{ctrl.app.buildDate}}</strong>
  </p>

  <p>
    {{ctrl.app.description}}
  </p>

  <h6 class="pull-right">
    <a href="http://tssgis.com" target="_blank">
      <i class="glyphicon glyphicon-copyright-mark"></i>
      Transcend Spatial Solutions {{ctrl.copyrightDate | date:'yyyy'}}
    </a>
  </h6>
</div>
