<div class="modal-header text-center">
  <resize-modal close="close()"></resize-modal>
  <h1><i class="glyphicon glyphicon-warning-sign"></i> Error Report</h1>
</div>

<div class="modal-body">

  <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Heads Up!</strong> Please add as much detail to the description as possible.
  </div>

  <form class="form-horizontal" name="errorForm" role="form">
    <div class="form-group">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="options.localMail" ng-disabled="!allowServerEmail">
            Use Local Mail Client (Outlook, GMail, etc)
          </label>
        </div>
      </div>
    </div>

    <div class="form-group" ng-if="!options.localMail">
      <label for="reporterName" class="col-sm-3 control-label">Your Name</label>
      <div class="col-sm-8">
        <input id="reporterName" class="form-control" ng-model="errorReport.name" type="text" placeholder="John Doe"
               autocomplete="off"/>
      </div>
    </div>
    <div class="form-group" ng-if="!options.localMail">
      <label for="reporterEmail" class="col-sm-3 control-label">Your Email</label>
      <div class="col-sm-8">
        <input id="reporterEmail" class="form-control" ng-model="errorReport.email" type="text"
               placeholder="jdoe@example.com" autocomplete="off"/>
      </div>
    </div>
    <div class="form-group">
      <label for="errorDesc" class="col-sm-3 control-label">Error Description</label>
      <div class="col-sm-8">
        <textarea id="errorDesc" class="form-control" rows="5" ng-model="errorReport.details"
                  placeholder="Add as much details describing the error here"></textarea>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button ng-click="close()" class="btn btn-default">
    <i class="glyphicon glyphicon-remove"></i> Cancel
  </button>
  <button ng-click="send()" ng-disabled="sending" class="btn btn-primary">
    <i class="glyphicon glyphicon-envelope"></i> Send
  </button>
</div>
