<div class="form-group row">
    <div class="col-sm-6">
        <label for="fromDateSelector">From Date</label>

        <p class="input-group">
            <input id="fromDateSelector"
                   type="text"
                   class="form-control"
                   ng-model="date.from"
                   max-date="date.to"
                   datepicker-popup="{{dateFormat}}"
                   is-open="fromDateOpened"
                   close-text="Close"
                   autocomplete="off"/>
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="openFromDatePicker($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </p>
    </div>
    <div class="col-sm-6">
        <label for="toDateSelector">To Date</label>

        <p class="input-group">
            <input id="toDateSelector"
                   type="text"
                   class="form-control"
                   ng-model="date.to"
                   min-date="date.from"
                   datepicker-popup="{{dateFormat}}"
                   is-open="toDateOpened"
                   close-text="Close"
                   autocomplete="off"/>
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="openToDatePicker($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </p>
    </div>
</div>
