<div class="form form-inline" role="search">
  <div class="form-group" ng-click="showInput=!showInput">
    <a href="">
      <i class="glyphicon glyphicon-search"></i>
    </a>
  </div>
  <div class="form-group">
    <div class="input-group" ng-show="showInput">
      <input type="text" ng-model="search.filter" class="form-control" placeholder="Search...">
    </div>
  </div>
</div>
